:root {
    --text-color: #ffffff;
    --border-color: #ffffff;
    --first-color: #2b2e4a;
    --second-color: #e84545;
    --third-color: #903749;
    --fourth-color: #53354a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: 'open sans', sans-serif;
}

/* HEADER AND NAV STYLE ELEMENTS */
header {
    padding: 20px 35px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--text-color);
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.70vw;

}

/* FOOTER STYLE */
footer {
    background: var(--fourth-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h1 {
    font-weight: bold;
    margin: 0;
    font-size: 38px;
}

footer a {
    text-decoration: none;
    color:var(--text-color);
}

footer div {
    margin: 7px 0;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer div ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
}

/* STYLE FOR ALL SECTIONS */
section {
    padding: 60px
}

/* HERO STYLE */
.hero {
    background-image: url('../images/New-Mexico-3.jpg');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    
}

.hero-text {
    width: 35%;
    text-align: right;
    margin: 8%;
    padding: 30px;
    font-size: 18px;
    line-height: 1.2;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text h2 {
    font-size: 22px;
}


/* SECTION TITLE STYLE */
.section-title {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

/* CONTENT STYLE */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.content-text {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    padding-top: 30px;
    font-size: 24px;
    font-size: 1.5vw;
    line-height: 1.2;
}

.content-img {
    width: 30%;
}

.content-image {
    max-width: 300px;
    border: solid 3px var(--border-color);
}


/* ABOUT ME STYLE */
.about-me {
    background: var(--second-color);
}

/* WORK STYLE */

.work {
    background: var(--third-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work-container-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.work-container-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.sizing-1 {
    width: 1200px;
    border: solid 3px var(--border-color);
}

.sizing-2 {
    width: 500px;
    border: solid 3px var(--border-color);
}


/* MEDIA QUERY FOR SMALL SCREENS */
@media screen and (max-width: 1280px) {

    img.sizing-1 {
        max-width: 100%;
    }

    img.sizing-2 {
        width: 100%;
    }
}




@media screen and (max-width: 980px) {
    header {
        padding-bottom: 5px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li a {
        font-size: 36px;
    }

    .hero {
        justify-content: center;
    }

    .hero-text {
        text-align: center;
    }


    .content {
        flex-direction: column ;
    }

    .content-text {
        font-size: 2.5vw;
        margin: auto;
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }

    .content-image {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer h2 {
        font-size: 2.5vw;
    }


}

@media screen and (max-width: 570px) {
    .content-text {
        font-size: 20px;
    }

    footer h2 {
        font-size: 14px;
    }
}